*.pdf

.DS_Store
.ipynb_checkpoints/
Jupyter_notebooks/
Meetings/
pandas_dataframes/
final_pandas_dataframes/
trained_models/


figures/
data/
old/
condition_num_while_training_NN_old_07092023/

__pycache__/